    @import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 70px;
    text-align: center;
    color: white;
    font-weight: 400;
    font-family: 'Russo One', sans-serif;
    font-size: 24px;
}

footer a {
    text-decoration: none;
    color: white;
    margin-left: 5px;
}