* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* html {
   scroll-behavior: smooth !important; 
   overflow-y: scroll; 
} */

body {
  background-color: #0a0e13;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #000;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.container {
  overflow-y: auto;
  min-height: 100vh;
  width: 100%;
}
