    @import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.start-section {
    background-image: url('images/Background-header-start.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}

.start-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.start-content h1 {
    font-size: 64px;
    font-family: 'Sedgwick Ave Display', sans-serif;
    font-weight: 400;
    text-align: center;
}

.start-content span {
    font-size: 20px;
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    color: #C08046;
    text-transform: uppercase;
}