    @import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.title {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Russo One', sans-serif;
    border-bottom: 1px solid #757C7F;
    border-top: 1px solid #757C7F;
    padding: 14px 0px;
    text-transform: uppercase;
}